---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/writeups</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
{%- for w in collections.writeups %}
  <url>
    <loc>{{ site.url }}/writeups/{{ w.fileSlug }}</loc>
    <lastmod>{{ w.data.date | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.6</priority>
  </url>
{%- endfor %}
</urlset>
